<div class="chat">
    <div class="chat-title">
        <h5>{{this.title}}</h5>
    </div>
    <div class="messages">
        <ul>
            <li [ngClass]="{'my-message' : this.isMyMessage(msg.id)}" *ngFor="let msg of this.messages">{{msg.msg}}</li>
        </ul>
    </div>
    <div class="send-box">
<!--        <input class="message-input" (keypress)="this.sendEvent(msginput.value, msginput, $event.keyCode)" type="text" #msginput placeholder="message">
        <button (click)="this.sendEvent(msginput.value, msginput)" class="btn btn-dark">SEND</button>-->
    </div>
</div>