.black-checker {
    width: 100%;
    height: 100%;
    background-image: url("../../img/black_checker.png");
    background-size: 100% 100%;
    cursor: pointer;
    transition: all .3s;
}

.black-checker:hover {
    transform: rotate(200deg);
}