<img src="/app/img/wood.jpg" class="" id="bg" alt="">

<div id="bg-color"></div>
<button (click)="this.as.resetGame(); this.cs.resetDB()" class="btn btn-dark reset-btn">RESET</button>
<div (mouseup)="this.as.releaseEvent()" class="grid-container">
    <div class="grid">
        <div class="arrow"></div>
        <div *ngFor="let row of this.as.grid" class="grid-column">
            <div *ngFor="let tile of row" class="grid-item" [ngStyle]="setColor(tile.index)"
                 [ngClass]="{'possible-move' : this.as.moves.isMovePossible(tile.index)}">
                <app-tile *ngIf="!this.isMobile" (mousedown)="this.as.pickUpPawn(tile.index)"
                          (mouseup)="this.as.dropPawn(tile.index); this.cs.updateDB()" class="tile"
                          [tileIndex]="tile.index" [square]="tile.square"></app-tile>
                <app-tile *ngIf="this.isMobile" (press)="this.as.pickUpPawn(tile.index)"
                          (mouseup)="this.as.dropPawn(tile.index); this.cs.updateDB()" class="tile"
                          [tileIndex]="tile.index" [square]="tile.square"></app-tile>
            </div>
        </div>
    </div>
    <div class="right-panel">
        <app-score></app-score>
        <app-chat></app-chat>
    </div>
</div>
<div class="sticking-pawn">
</div>