.grid-container {
    width: 100%;
    height: 100%;
}
.grid {
    width: 800px;
    height: 800px;
    background-color: #e3e3e3;
    display: flex;
    margin: auto auto;
    border: 5px solid black;
    padding: 0;

}
.grid .grid-column {
    width: 100px;
    padding: 0;
}
.grid .grid-column .grid-item {
    width: 100px;
    height: 100px;
}
app-tile.tile {
    display: block;
    width: 100px;
    height: 100px;

}

.sticking-pawn {
    width: 100px;
    height: 100px;
    position: fixed;
    display: none;
}
.possible-move {
    background-color: green !important;
}
.reset-btn {
    float: left;
}