<table class="table table-bordered table-sm">
    <thead class="table-dark text-center">
        <tr>
            <td>Player</td>
            <td>Score</td>
            <td>Pawns</td>
            <td>Lost pawns</td>
        </tr>
    </thead>
    <tr class="table table-inverse" *ngFor="let player of this.as.game.players" [ngClass]="{'table-success' : player.playerActive()}">
        <td>{{player.getColor()}}</td>
        <td>{{player.calculateScore()}}</td>
        <td>{{player.getNumberOfPawns()}}</td>
        <td>{{player.getNumberOfLostPawns()}}</td>
    </tr>
</table>
