<table class="table table-bordered table-sm">
    <thead class="table-dark text-center">
        <tr>
            <td>PLAYER</td>
            <td>SCORE</td>
            <td>PAWNS</td>
            <td>LOST PAWNS</td>
        </tr>
    </thead>
    <tr class="table table-inverse" *ngFor="let player of this.as.game.players" [ngClass]="{'table-success' : player.playerActive()}">
        <td>{{player.getColor()}}</td>
        <td>{{player.calculateScore()}}</td>
        <td>{{player.getNumberOfPawns()}}</td>
        <td>{{player.getNumberOfLostPawns()}}</td>
    </tr>
</table>
